#sidebar{
    min-height: calc(100vh);
}

#navigation-top{
    height: 20vh;
    
}

.nav-link{
    color: rgb(136, 136, 136);
   }

.nav-link:hover{
 color: white;
 transition: all .5s ease-in;
 background: rgb(87, 87, 87) ;
 
 
}

.active{
    color: white;
}
